*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.containerNav {
  position: fixed;
  top: 0%;
  z-index: 5000;
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  height: 80px;
  width: 1200px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  background: linear-gradient(90deg, #44ADA8 0%, #547981 100%);
}

.AllLink:not(#pseudoNav) {
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}
.AllLink:not(#pseudoNav):hover {
  transform: scale(0.9);
  opacity: 0.6;
  cursor: pointer;
}

#pseudoNav {
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
}
#pseudoNav:hover {
  cursor: default;
}

#nameNav {
  position: fixed;
  top: 5%;
  right: 5%;
  font-size: 15px;
  background-color: #547981;
  color: white;
  border-radius: 50%;
  padding: 16px 12px;
  transform: translateY(-50%);
}
#nameNav span:nth-child(2) {
  padding-left: 2px;
}
#nameNav:hover {
  cursor: pointer;
}

#imgPref {
  position: absolute;
  top: 50%;
  right: 3%;
  border-radius: 8px;
  transform: translateY(-50%);
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: auto;
  height: auto;
  border: double #44ADA8 3px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#imgPref img {
  height: 80px;
  max-width: 80px;
  border-radius: 50%;
}
#imgPref:hover {
  cursor: pointer;
}

@media (max-width: 1600px) {
  .navbar {
    width: 75%;
  }
  #nameNav {
    right: 2%;
  }
  .AllLink:not(#pseudoNav) {
    font-size: 20px;
  }
  #pseudoNav {
    font-size: 20px;
  }
}
.containerNavResponsive {
  width: 100vw;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.containerNavResponsive .navbarResponsive {
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.containerNavResponsive .navbarResponsive img {
  height: 40px;
  max-width: 80px;
  margin-left: 50px;
}
.containerNavResponsive .navbarResponsive img:hover {
  cursor: pointer;
}
.containerNavResponsive .navbarResponsive #imgPrefDeux {
  border-radius: 50%;
  border: double #44ADA8 3px;
  height: 70px;
  margin-right: 50px;
}

#nameNavResponsive {
  margin-right: 50px;
  font-size: 15px;
  background-color: #547981;
  color: white;
  border-radius: 50%;
  padding: 16px 12px;
}
#nameNavResponsive span:nth-child(2) {
  padding-left: 2px;
}
#nameNavResponsive:hover {
  cursor: pointer;
}

.affichierLien {
  position: fixed;
  z-index: 3;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: #547981;
}
.affichierLien nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.affichierLien nav .AllLink {
  font-size: 20px;
}
.affichierLien nav .closeNavResponsive {
  position: absolute;
  top: 5%;
  right: 7%;
  width: 30px;
  height: 30px;
}
.affichierLien nav .closeNavResponsive:hover {
  cursor: pointer;
}

.affichePseudoNavResponsive {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5%;
  left: 7%;
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=navbar.css.map */