.containerAffichePhoto {
  position: absolute;
  top: 300px;
  width: 600px;
  height: 500px;
  background-color: #ffffff;
  border: solid 1px #547981;
  z-index: 2;
}
.containerAffichePhoto div:nth-child(1) {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.containerAffichePhoto div:nth-child(1) .imgClassBase {
  height: 40%;
  border: dashed 1px #547981;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.containerAffichePhoto div:nth-child(1) .imgClassBase img {
  height: 100%;
}
.containerAffichePhoto div:nth-child(1) .erroMessageAffichePhoto {
  color: #ef4444;
  font-size: 19px;
  height: 19px;
}
.containerAffichePhoto div:nth-child(1) p:nth-child(3) input {
  color: #547981;
}
.containerAffichePhoto div:nth-child(1) p:nth-child(3) input[type=file]::file-selector-button {
  margin-right: 8px;
  border: solid 1px #547981;
  background: #547981;
  padding: 8px 12px;
  color: white;
  transition: all 0.3s ease-in-out;
}
.containerAffichePhoto div:nth-child(1) p:nth-child(3) input[type=file]::file-selector-button:hover {
  cursor: pointer;
  background-color: white;
  color: #547981;
}
.containerAffichePhoto div:nth-child(1) p:nth-child(4) {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.containerAffichePhoto div:nth-child(1) p:nth-child(4) button {
  border: solid 1px #547981;
  background: #547981;
  padding: 8px 12px;
  color: white;
  transition: all 0.3s ease-in-out;
}
.containerAffichePhoto div:nth-child(1) p:nth-child(4) button:hover {
  cursor: pointer;
  background-color: white;
  color: #547981;
}
.containerAffichePhoto div:nth-child(2) {
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #547981;
}
.containerAffichePhoto div:nth-child(2) .messageNoPhoto {
  color: white;
  font-size: 20px;
}
.containerAffichePhoto div:nth-child(2) img {
  height: 70%;
  max-width: 33%;
  border-radius: 5px;
}
.containerAffichePhoto div:nth-child(2) img:hover {
  cursor: pointer;
}

@media (max-width: 990px) {
  .containerAffichePhoto {
    width: 450px;
    height: 500px;
  }
  .containerAffichePhoto div:nth-child(1) .erroMessageAffichePhoto {
    font-size: 12px;
  }
  .containerAffichePhoto div:nth-child(1) p:nth-child(3) input {
    font-size: 12px;
  }
  .containerAffichePhoto div:nth-child(1) p:nth-child(4) button {
    font-size: 12px;
  }
}
@media (max-width: 670px) {
  .containerAffichePhoto {
    width: 300px;
    height: 800px;
  }
  .containerAffichePhoto div:nth-child(1) {
    height: 50%;
  }
  .containerAffichePhoto div:nth-child(1) .imgClassBase {
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .containerAffichePhoto div:nth-child(1) .imgClassBase img {
    height: 50%;
    max-width: 100%;
  }
  .containerAffichePhoto div:nth-child(1) p:nth-child(3) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10%;
  }
  .containerAffichePhoto div:nth-child(1) p:nth-child(3) input {
    width: 80%;
  }
  .containerAffichePhoto div:nth-child(1) p:nth-child(4) {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .containerAffichePhoto div:nth-child(2) {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .containerAffichePhoto div:nth-child(2) .messageNoPhoto {
    font-size: 12px;
  }
  .containerAffichePhoto div:nth-child(2) img {
    height: 25%;
    max-width: 100%;
  }
}/*# sourceMappingURL=affichePhoto.css.map */