body {
  scroll-behavior: smooth;
}

.ContainerPost {
  width: 100vw;
  margin-top: 200px;
}

.titrePartieMonPost {
  text-align: center;
  font-size: 40px;
  color: #547981;
  margin-top: 50px;
}

#affichageDuPost {
  margin-top: 50px;
}

.partieAffichageAllMessage {
  width: 900px;
  margin: 50px auto 0 auto;
}

.affichageUnMessage {
  background-color: white;
  margin-bottom: 30px;
  padding: 35px;
  border: 1px solid #e0e3e5;
}

.partieDescriptionUnMsg {
  padding-bottom: 20px;
  color: #44ADA8;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.partieDescriptionUnMsg div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.partieDescriptionUnMsg #pseudoCreateur {
  font-size: 15px;
}
.partieDescriptionUnMsg #dateCreation {
  font-size: 15px;
}
.partieDescriptionUnMsg .pAfficheImg {
  margin-right: 10px;
  font-size: 22px;
  color: white;
  width: auto;
  height: auto;
  border: double #44ADA8 3px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.partieDescriptionUnMsg .pAfficheImg img {
  height: 80px;
  max-width: 80px;
  border-radius: 50%;
}
.partieDescriptionUnMsg .pAfficheInitiale {
  margin-right: 10px;
  font-size: 22px;
  background-color: #547981;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.partieDescriptionUnMsg .pAfficheInitiale span {
  text-transform: uppercase;
  font-size: 15px;
  padding: 0px 1px;
}
.partieDescriptionUnMsg .pAfficheInitiale span:nth-child(2) {
  padding-left: 4px;
}

.VisibleContenu {
  display: block;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 40px;
  color: #547981;
  font-size: 18px;
  height: 45px;
  padding: 0px 10px;
}
.VisibleContenu .NoVisibleContenu {
  overflow: visible;
  overflow-y: visible;
  display: block;
  top: 0%;
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0;
  z-index: -1;
}

.VisibleContenu.active::-webkit-scrollbar {
  width: 12px;
}

.VisibleContenu.noActive::-webkit-scrollbar {
  width: 0px;
}

.VisibleContenu::-webkit-scrollbar-track {
  background: #44ADA8;
  border-radius: 5px;
}

.VisibleContenu::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
  border: 3px solid #44ADA8;
}

.partieSignalLikeMsg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.partieSignalLikeMsg .signalement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.partieSignalLikeMsg img {
  padding-right: 10px;
  transition: all 0.2s ease-in-out;
  transform-origin: left;
}
.partieSignalLikeMsg img:hover {
  cursor: pointer;
  transform: rotate(-7deg);
}
.partieSignalLikeMsg span {
  padding-right: 50px;
  color: #44ADA8;
}
.partieSignalLikeMsg #imgLike {
  padding-bottom: 3px;
}
.partieSignalLikeMsg #imgSignaler {
  padding-bottom: 5px;
}

.creationMessage {
  width: 1400px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.creationMessage .partieCreationMessage {
  background-color: white;
  padding: 30px 25px;
  width: 60%;
  border: #e0e3e5 solid 2px;
}
.creationMessage .partieCreationMessage h1 {
  color: #547981;
  padding-bottom: 25px;
}
.creationMessage .partieCreationMessage p:nth-child(2) {
  color: #547981;
  font-size: 17px;
  padding-bottom: 25px;
}
.creationMessage .partieCreationMessage h3:nth-child(3) {
  color: #547981;
  padding: 25px 0px 25px 0px;
}
.creationMessage .partieCreationMessage div {
  padding: 5px 0px 25px 0px;
}
.creationMessage .partieCreationMessage div textarea {
  outline-color: #547981;
  border: 1px solid #547981;
  color: #547981;
  padding: 10px 7px;
  resize: none;
  font-size: 16px;
}
.creationMessage .partieCreationMessage p:nth-child(5) {
  color: #ef4444;
  font-size: 20px;
  padding-bottom: 25px;
}
.creationMessage .partieCreationMessage button {
  padding: 10px 15px;
  color: #547981;
  border: 1px solid #547981;
  background-color: white;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}
.creationMessage .partieCreationMessage button:hover {
  cursor: pointer;
  background-color: #547981;
  color: white;
}
.creationMessage .partieRemonterMessage {
  padding: 30px 25px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.creationMessage .partieRemonterMessage div {
  border: solid 2px #e0e3e5;
  width: 400px;
  height: 100px;
}
.creationMessage .partieRemonterMessage h2 {
  padding: 25px 0px;
  color: #44ADA8;
}
.creationMessage .partieRemonterMessage p {
  color: #44ADA8;
  font-size: 17px;
  padding-bottom: 25px;
}
.creationMessage .partieRemonterMessage button {
  width: 400px;
  padding: 20px 0;
  color: #44ADA8;
  border: 1px solid #44ADA8;
  background-color: white;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.creationMessage .partieRemonterMessage button:hover {
  cursor: pointer;
  background-color: #44ADA8;
  color: white;
}

@media (max-width: 1600px) {
  .creationMessage {
    width: 100vw;
  }
  .creationMessage .partieCreationMessage div textarea {
    width: 80%;
  }
  .creationMessage .partieRemonterMessage {
    width: 100%;
  }
}
@media (max-width: 1256px) {
  .creationMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .creationMessage .partieCreationMessage {
    width: 90%;
  }
  .creationMessage .partieCreationMessage div textarea {
    width: 100%;
  }
}
@media (max-width: 990px) {
  .creationMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .creationMessage .partieCreationMessage {
    width: 100%;
  }
  .titrePartieMonPost {
    font-size: 30px;
  }
  .partieAffichageAllMessage {
    width: 100%;
  }
  #affichageDuPost {
    margin-top: 50px;
  }
  .partieDescriptionUnMsg #pseudoCreateur {
    font-size: 12px;
  }
  .partieDescriptionUnMsg #dateCreation {
    font-size: 12px;
  }
  .partieDescriptionUnMsg .pAfficheImg {
    font-size: 12px;
  }
  .partieDescriptionUnMsg .pAfficheImg img {
    height: 60px;
    max-width: 60px;
  }
  .partieDescriptionUnMsg .pAfficheInitiale {
    font-size: 12px;
  }
  .partieDescriptionUnMsg .pAfficheInitiale span {
    font-size: 12px;
  }
  .VisibleContenu {
    font-size: 15px;
    height: 35px;
  }
}
@media (max-width: 670px) {
  .partieDescriptionUnMsg #pseudoCreateur {
    font-size: 11px;
  }
  .partieDescriptionUnMsg #dateCreation {
    font-size: 11px;
  }
  .partieDescriptionUnMsg .pAfficheImg {
    font-size: 11px;
  }
  .partieDescriptionUnMsg .pAfficheImg img {
    height: 50px;
    max-width: 50px;
  }
  .partieDescriptionUnMsg .pAfficheInitiale {
    font-size: 11px;
  }
  .partieDescriptionUnMsg .pAfficheInitiale span {
    font-size: 11px;
  }
  .VisibleContenu {
    font-size: 13px;
    height: 35px;
  }
  .creationMessage .partieCreationMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .creationMessage .partieCreationMessage h1 {
    font-size: 20px;
    text-align: center;
  }
  .creationMessage .partieCreationMessage p:nth-child(2) {
    font-size: 13px;
    text-align: center;
    padding-bottom: 0px;
  }
  .creationMessage .partieCreationMessage div textarea {
    font-size: 13px;
  }
  .creationMessage .partieCreationMessage p:nth-child(5) {
    font-size: 13px;
    text-align: center;
  }
  .creationMessage .partieRemonterMessage div {
    width: 60%;
  }
  .creationMessage .partieRemonterMessage h2 {
    font-size: 20px;
    text-align: center;
  }
  .creationMessage .partieRemonterMessage p {
    font-size: 13px;
    text-align: center;
  }
  .creationMessage .partieRemonterMessage button {
    width: 300px;
  }
}/*# sourceMappingURL=messagePost.css.map */