.ContainerSignUp {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 680px;
  background: rgb(250, 110, 89);
  background: linear-gradient(90deg, #44ADA8 0%, #547981 100%);
  opacity: 1;
  z-index: 5000;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 20px;
  padding: 35px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.SignUpTitreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  color: #ffffff;
}
.SignUpTitreBtn button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-in-out;
}
.SignUpTitreBtn button img {
  width: 30px;
}
.SignUpTitreBtn button:hover {
  transform: rotate(90deg);
  cursor: pointer;
}
.SignUpTitreBtn h2 {
  font-size: 30px;
}

.SignUpInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
.SignUpInput input:focus {
  outline-color: #ffffff;
  outline-style: double;
}
.SignUpInput input:nth-child(1), .SignUpInput input:nth-child(2) {
  margin-bottom: 22px;
  padding: 10px;
  width: 40%;
  border-radius: 8px;
  border: solid 1px white;
  color: #ffffff;
  font-size: 15px;
  background-color: #547981;
}
.SignUpInput input:nth-child(1)::-moz-placeholder, .SignUpInput input:nth-child(2)::-moz-placeholder {
  color: #ffffff;
  font-size: 15px;
}
.SignUpInput input:nth-child(1)::placeholder, .SignUpInput input:nth-child(2)::placeholder {
  color: #ffffff;
  font-size: 15px;
}

.SignUpLabel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
.SignUpLabel .divLabel {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.SignUpLabel .divLabel label:nth-child(1), .SignUpLabel .divLabel label:nth-child(2) {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 22px;
}

.SignUpLogIn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: 100%;
}
.SignUpLogIn button {
  width: 40%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  background-color: #547981;
  font-size: 15px;
  border: solid 1px #ffffff;
  transition: all 0.2s ease-in-out;
}
.SignUpLogIn button:hover {
  cursor: pointer;
  border: solid 1px #4897d8;
  background-color: #ffffff;
  color: #547981;
}

.partieMsgErreurs {
  color: rgba(175, 29, 29, 0.508);
  font-size: 25px;
  height: 30px;
  width: 100%;
  text-align: center;
}

.SignUpCreateAccount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  font-size: 17px;
}

@media (max-width: 990px) {
  .ContainerSignUp {
    width: 350px;
    height: 600px;
    padding: 35px 10px;
  }
  .SignUpTitreBtn h2 {
    font-size: 19px;
  }
  .SignUpInput input:nth-child(1), .SignUpInput input:nth-child(2) {
    font-size: 12px;
  }
  .SignUpInput input:nth-child(1)::-moz-placeholder, .SignUpInput input:nth-child(2)::-moz-placeholder {
    font-size: 12px;
  }
  .SignUpInput input:nth-child(1)::placeholder, .SignUpInput input:nth-child(2)::placeholder {
    font-size: 12px;
  }
  .SignUpLabel .divLabel label:nth-child(1), .SignUpLabel .divLabel label:nth-child(2) {
    font-size: 17px;
  }
  .SignUpLogIn button {
    font-size: 12px;
  }
  .partieMsgErreurs {
    font-size: 17px;
    height: 18px;
  }
  .SignUpCreateAccount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    font-size: 15px;
  }
}/*# sourceMappingURL=signUp.css.map */